{% extends 'base.html' %} {% block content %}

{% for cat in data2 %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">{{cat.task_category.task_title}}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{cat.category_name}}</h6>
        <p class="card-text">{{cat.task_category.task_desc}}</p>
        {% if cat.task_category.task_completion %}
        <div class="btn btn-success">Completed</div>
        {% else %}
        <div class="btn btn-danger">Pending</div>
        {% endif %}
        <a href="{% url 'edit_task' cat.id %}" class="card-link btn btn-warning text-decoration-none">Edit</a>
        <a href="{% url 'delete_task' cat.id %}" class="card-link btn btn-danger text-decoration-none">Delete</a>
        </div>
    </div>
{% endfor %}

{% endblock %}